.content {
    position: relative;
}
.content img {
    width: 25%;
    background-color: lightgray;
}
.node {
   clear: both;
    position: absolute;
    float: left;
    padding: 1em;
    top: 12%;
    left: 2.5%;
}
.label {
    position: absolute;

    font-size: 1em;
    background-color: #4aaaa5;
    width: 14%;
    padding: 2%;
    text-align: center;
}
.nodeLabel {
    margin-left: 5.5%;
    margin-top: 26.5%;
}
.react {
    float: left;
    position: relative;
    margin-left: 50%;
    padding: 1em 1em 2em 1em;
    margin-top: 3%;
}
.reactLabel {
    margin-left: 53%;
    margin-top: 24.6%;
}
.html5 {
    clear: both;
    float: left;
    position: relative;
    margin-top: 8%;
    padding: 1em;
}
.htmlLabel {
    margin-top: 60.75%;
    margin-left: 5.5%;
}
.css3 {
    float: left;
    margin-top: 8%;
    margin-left: 20%;
    padding: 1em;
}
.cssLabel {
    margin-left: 53%;
    margin-top: 60.75%;
}
.clearfix {

        overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
